<div class="contanier mt-4"></div>
<div class="row">
  <div class="col-lg-4 offset-lg-4">
    <div class="card text-center bg-light area">
      <div class="card-body ">
        <h3 >
        Agregar persona
          <div  *ngIf="loading" class="bd-highlight float-end" role="status">
            <span class="visually-hidden">Loading...</span>

            <app-spinner></app-spinner>
          </div>
        </h3>
        <!-- <span *ngIf = "submitted && createPersonal.invalid">TODOS LOS CAMPOS SON OBLIGATORIOS</span> -->
        <form class="mt-4 " [formGroup]="createPersonal" (ngSubmit)="agregarPersonal()">
          
              <div class="row mt-3">
                <div class="col">
                  <div class="input-group " >
                    <span class="input-group-text">
                      <i class="fas fa-id-card"></i>
                    </span>
                                      <input type="number" class="form-control " [ngClass]="
                                        (createPersonal.get('identificacion')?.touched ||
                                          createPersonal.get('identificacion')?.dirty) &&
                                        createPersonal.get('identificacion')?.hasError('required')
                                          ? 'is-invalid'
                                          : '' ||
                                            ((createPersonal.get('identificacion')?.touched ||
                                              createPersonal.get('identificacion')?.dirty) &&
                                              !createPersonal.get('identificacion')?.invalid)
                                          ? 'is-valid'
                                          : ''
                                      " formControlName="identificacion" placeholder="Identificación">
    
                                      <div class="invalid-feedback">
                                        Campo obligatorio
                                      </div>
    
                  </div>
                </div>
                <div class="col">

                </div>
                
              </div>
           
    

          <div class="row mt-3">
            <div class="col">
              <div class="input-group borde">
                <span class="input-group-text">
                  <i class="fas fa-user-edit"></i>
                 </span>

                   <input type="text" class="form-control " 
                [ngClass]="
                  (createPersonal.get('nombres')?.touched ||
                    createPersonal.get('nombres')?.dirty) &&
                        createPersonal.get('nombres')?.hasError('required')
                    ? 'is-invalid'
                    : '' || createPersonal.get('nombres')?.hasError('minlength')
                    ? 'is-invalid'
                    : '' ||
                      ((createPersonal.get('nombres')?.touched ||
                        createPersonal.get('nombres')?.dirty) &&
                        !createPersonal.get('nombres')?.invalid)
                    ? 'is-valid'
                    : ''
                " formControlName="nombres" placeholder="Nombres">

                    <div class="invalid-feedback">
                      {{
                      createPersonal.get('nombres')?.hasError('required')
                      ? " Name is required"
                      : ""
                      }}
                    </div>
                
              </div>
            </div>
                  
          </div>


           <div class="row mt-3">
         <div class="col">

           
              <div class="input-group ">
                <span class="input-group-text">
                  <i class="fas fa-user-edit"></i>
                 </span>
                <input type="text" class="form-control " 
                [ngClass]="
                  (createPersonal.get('apellidos')?.touched ||
                    createPersonal.get('apellidos')?.dirty) &&
                  createPersonal.get('apellidos')?.hasError('required')
                    ? 'is-invalid'
                    : '' || createPersonal.get('apellidos')?.hasError('minlength')
                    ? 'is-invalid'
                    : '' ||
                      ((createPersonal.get('apellidos')?.touched ||
                        createPersonal.get('apellidos')?.dirty) &&
                        !createPersonal.get('apellidos')?.invalid)
                    ? 'is-valid'
                    : ''
                " formControlName="apellidos" placeholder="Apellidos">

                    <div class="invalid-feedback">
                      {{(createPersonal.get('apellidos'))?.touched ? "Apellido es obligatorio" : ""}}

                    </div>

              </div>
            </div>
          </div>
      
      
          

          <div class="row mt-3">
                <div class="col">

                  <div class="input-group ">
                    <span class="input-group-text">
                      <i class="fas fa-user-tie"></i>
                    </span>

                    <input type="text" class="form-control  " 
                    
                    [ngClass]="
                  (createPersonal.get('profesion')?.touched ||
                    createPersonal.get('profesion')?.dirty) &&
                  createPersonal.get('profesion')?.hasError('required')
                    ? 'is-invalid'

                    : '' ||
                      ((createPersonal.get('profesion')?.touched ||
                        createPersonal.get('profesion')?.dirty) &&
                        !createPersonal.get('profesion')?.invalid)
                    ? 'is-valid'
                    : ''
                   "
                    formControlName="profesion" placeholder="Profesión" required>

                    <div class="invalid-feedback">
                      Campo obligatorio
                    </div>

                  
                  </div> 
                </div> 

                  <div class="col ">

                    <div class="input-group ">
                        <span class="input-group-text">
                          <i class="fas fa-file-alt"></i>
                        </span>
        
                        <input type="text" class="form-control "
                        [ngClass]="
                                        (createPersonal.get('contrato')?.touched ||
                                          createPersonal.get('contrato')?.dirty) &&
                                        createPersonal.get('contrato')?.hasError('required')
                                          ? 'is-invalid'
                                          : '' ||
                                            ((createPersonal.get('contrato')?.touched ||
                                              createPersonal.get('contrato')?.dirty) &&
                                              !createPersonal.get('contrato')?.invalid)
                                          ? 'is-valid'
                                          : ''
                                          "
                        formControlName="contrato" placeholder="Tipo contrato" required>
                        <div class="invalid-feedback">
                          Campo obligatorio
                        </div>
                   
                      </div>
                  
               </div>
              </div>
               
              
             
     
   


              <div class="row mt-3">
              <div class="col">

                <div class="input-group ">
                    <span class="input-group-text">
                      <i class="fas fa-user-md"></i>
                    </span>
                    <input type="text" class="form-control "
                    [ngClass]="
                                    (createPersonal.get('servicio')?.touched ||
                                      createPersonal.get('servicio')?.dirty) &&
                                    createPersonal.get('servicio')?.hasError('required')
                                      ? 'is-invalid'
                                      : '' ||
                                        ((createPersonal.get('servicio')?.touched ||
                                          createPersonal.get('servicio')?.dirty) &&
                                          !createPersonal.get('servicio')?.invalid)
                                      ? 'is-valid'
                                      : ''
                                      "
                    formControlName="servicio" placeholder="Servicio" required>

                          
                          <div class="invalid-feedback">
                            Campo obligatorio
                          </div>
               
                  </div>
              </div>
          
          <div class="col ">

            <div class="input-group ">
                <span class="input-group-text">
                  <i class="fas fa-money-check-alt"></i>
                </span>

                <input type="number" class="form-control "
                          [ngClass]="
                                          (createPersonal.get('salario')?.touched ||
                                            createPersonal.get('salario')?.dirty) &&
                                          createPersonal.get('salario')?.hasError('required')
                                            ? 'is-invalid'
                                            : '' ||
                                              ((createPersonal.get('salario')?.touched ||
                                                createPersonal.get('salario')?.dirty) &&
                                                !createPersonal.get('salario')?.invalid)
                                            ? 'is-valid'
                                            : ''
                                            "
                          formControlName="salario" placeholder="Salario" required>
                <div class="invalid-feedback">
                  Campo obligatorio
                </div>
           
              </div>
          </div>
        </div>

          <div class="mt-3">
            <button routerLink="/dashboard" class="btn btn-secondary btn-lg" style="margin-right: 3px"> <i class="fas fa-reply"></i>Volver</button>
            <button  class="btn btn-personalizado btn-lg text-white" style="margin-right: 3px"
              [disabled]="createPersonal.invalid"> <i class="fas fa-sign-in-alt "></i> Registrar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>