<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <span class="h3">Listado de personal</span>
            <button class="btn btn-dark btn lg float-end" routerLink="/create-personal">Agregar Persona</button>
            <table class="table table-bordered border-primary mt-5">
                <thead>
                  <tr>
                    <th scope="col">Identificación</th>
                    <th scope="col">Apellidos</th>
                    <th scope="col">Nombres</th>
                    <th scope="col">Cargo</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1086019835</th>
                    <td>Gómez Guerrero</td>
                    <td>Angi Yuliana</td>
                    <td>Médica</td>
                    <td><i class="fas fa-edit fa-lg text-info" style="margin-right: 2px"></i>
                    <i class="fas fa-trash-alt fa-lg text-danger"></i></td>
                    
                  </tr>
                  <tr>
                    <th scope="row">1087123467</th>
                    <td>Bernal Pantoja</td>
                    <td>Jesus camilo</td>
                    <td>Enfermero</td>
                    <td><i class="fas fa-edit fa-lg text-info" style="margin-right: 2px"></i>
                    <i class="fas fa-trash-alt fa-lg text-danger"></i></td>
                    
                  </tr>
                  <tr>
                    <th scope="row">1234567899</th>
                    <!--<td colspan="2">Larry the Bird</td>-->
                    <td>Narvaez Fajardo</td>
                    <td>Alejandro</td>
                    <td>Camillero</td>
                    <td><i class="fas fa-edit fa-lg text-info " style="margin-right: 2px"></i>
                    <i class="fas fa-trash-alt fa-lg text-danger"></i></td>
                  </tr>
                </tbody>
              </table>
              
        </div>
    </div>
</div>
